<div class="pagetitle">
    <h1>E-Catalogue</h1>
    <nav *ngIf="userData?.role_id != 3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/catalogue-and-ordering">Catalogue & Ordering</a></li>
            <li class="breadcrumb-item active">E-Catalogue</li>
        </ol>
    </nav>
</div>

<div class="card" *ngIf="!model_id">
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-3">
                        <label for="product_type" class="col-md-4 form-label">Product Type : </label>
                        <div class="col-md-8">
                            <ng-select id="product_type" [items]="productTypeList" bindLabel="name" bindValue="id"
                                placeholder="Select Product Type" name="product_type_id"
                                [(ngModel)]="formObj.product_type_id" (change)="onChangeProduct($event)">
                            </ng-select>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="row mb-3">
                        <label for="product_model" class="col-md-3 form-label">Product Model : </label>
                        <div class="col-md-9">
                            <ng-select id="product_model" [items]="modaldataList" bindLabel="name" bindValue="id"
                                placeholder="Select Product Model" name="model_id" [(ngModel)]="formObj.model_id"
                                (change)="onChangeModel(formObj.model_id)">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row mb-3">
                        <label for="Assembly" class="col-md-4 form-label">Assembly : </label>
                        <div class="col-md-8">
                            <ng-select id="Assembly" [items]="assemblyList" bindLabel="name" bindValue="id"
                                placeholder="Select Assembly" name="assembly_id" [(ngModel)]="formObj.assembly_id">
                            </ng-select>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="serch-box">
                        <button type="submit" class="btn btn-primary" (click)="getCatalogue('Search')">Search</button>
                        <button type="button" class="btn btn-secondary" (click)="getCatalogue('Reset')">Reset</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row" *ngIf="partList && partList.length">
            <div class="col-md-6">
                <h2 class="img-title">{{partList[0].assembly.name}}</h2>
                <!-- <img class="img-box" [src]="partList[0].assembly.image" alt="" srcset=""> -->
                <div id="img-zoomer-box" (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()">
                    <img [src]="partList[0].assembly.image" id="img-1" />
                    <div id="img-2" [ngStyle]="magnifiedStyles"></div>
                </div>

            </div>
            <div class="col-md-6">
                <div class="table-hed">
                    <div>
                        Total Selected Line Item : {{lineCount}}<br>
                        Total Item Qty: {{totalQty}}
                    </div>

                    <!-- <div>
                        <a (click)="moveTocart()" class="move-to-cart">Move All Item to Cart</a>
                    </div> -->
                </div>
                <div class="table-responsive custom-table">
                    <table class="table table-bordered border-dark">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col">
                                    <div class="table-agliment">
                                        Sno
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="table-agliment">
                                        PartNo
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="table-agliment">
                                        PartDesc
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="table-agliment">
                                        Qty
                                    </div>
                                </th>
                                <th scope="col" class="text-center">
                                    <div class="table-agliment">
                                        2WD 4WD
                                    </div>
                                </th>

                                <th scope="col">
                                    <div class="table-agliment">
                                        Remarks
                                    </div>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of partList ; let i = index">
                                <th scope="row">{{item.sno}}</th>
                                <td>{{item.part_no}}</td>
                                <td>{{item.description}}</td>
                                <td>
                                    <div class="qty-box">
                                        <button type="button" class="btn btn-danger" (click)="decrement(i)">
                                            <i class="bi bi-dash-circle"></i>
                                        </button>
                                        <input type="number" [(ngModel)]="item.qty" (change)="onChange()"
                                            class="form-control" id="qty" name="qty">
                                        <button type="button" class="btn btn-danger" (click)="increment(i)">
                                            <i class="bi bi-plus-circle"></i>
                                        </button>
                                    </div>

                                </td>
                                <td> </td>
                                <td> </td>
                                <td>
                                    <div class="table-agliment">
                                        <i class="bi bi-cart-plus cursor-pointer" (click)="moveTocart(item)"></i>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="serch-box mt-3">
                    <div>
                        <button type="submit" class="btn btn-primary w-100 mb-2" (click)="moveToAllcart()">
                            Add To Cart
                        </button>
                        <button type="button" class="btn btn-secondary w-100" (click)="saveToDraft()">
                            Save As Draft
                        </button>
                    </div>
                    <div>
                        <div class="button-container" *ngIf="model_id">
                            <button (click)="previousPage()" [ngClass]="{'btn-disabled': currentPage === 0}"
                                [disabled]="currentPage === 0">
                                <div class="text-box-prev">PREV</div>
                                <span class="btn btn-prev">
                                    <i class="bi bi-chevron-double-left"></i>
                                </span>
                            </button>
                            <button (click)="nextPage()" [ngClass]="{'btn-disabled': currentPage === totalPages}"
                                [disabled]="currentPage === totalPages">
                                <span class="btn btn-next">
                                    <i class="bi bi-chevron-double-right"></i>
                                </span>
                                <div class="text-box-next">NEXT</div>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="!partList.length" class="text-center">
            Search To Part's Show
        </div>

    </div>
</div>