.card-body {
    padding: 20px 20px 20px 20px;
}

.serch-box {
    display: flex;
    gap: 10px;
    align-items: end;
    justify-content: end;
}

.img-box {
    border: 1px solid black;
    border-radius: 8px;
    width: 100%;
}

.table-hed {
    display: flex;
    justify-content: space-between;
}

.img-title {
    font-size: 20px;
    font-weight: 600;
    border-bottom: 5px solid black;
}

.table-dark tr th {
    font-size: 15px;
}

.qty-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.qty-box input {
    width: 66px;
    text-align: center;
}

.qty-box button {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 50%;
    background-color: red;
}

.qty-box button i {
    font-size: 12px;
}

.table-agliment {
    display: flex;
    // height: 84px;
    align-items: center;
    justify-content: center;
}

.move-to-cart {
    text-decoration: underline;
    color: #4154f1;
    cursor: pointer;
}


/* Hide number input spinners for Chrome, Safari, Edge, and Opera */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide number input spinners for Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}



#img-zoomer-box {
    height: auto;
    position: relative;
    margin-top: 10px;
}

#img-1 {
    width: 100%;
    height: auto;
}

#img-zoomer-box:hover,
#img-zoomer-box:active {
    cursor: zoom-in;
    display: block;
}

#img-zoomer-box:hover #img-2,
#img-zoomer-box:active #img-2 {
    opacity: 1;
}

#img-2 {
    width: 200px;
    height: 200px;
    // background: url('https://images.unsplash.com/photo-1624211904722-c10788db74de?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat #FFF;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    position: absolute;
    opacity: 0;
    border: 4px solid whitesmoke;
    z-index: 99;
    border-radius: 100%;
    display: block;
    transition: opacity .2s;
}