<div class="pagetitle">
    <h1>E-Catalogue</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/catalogue-and-ordering">Catalogue & Ordering</a></li>
            <li class="breadcrumb-item active">E-Catalogue</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-md-4 form-label">Product Type : </label>
                        <div class="col-md-8">
                            <select id="roles" class="form-select" [(ngModel)]="formObj.product_type_id" name="roles"
                                required #rolesCtrl="ngModel">
                                <ng-container *ngFor="let item of productTypeList">
                                    <option [value]="item.id">{{item.name}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-md-4 form-label">Assembly : </label>
                        <div class="col-md-8">
                            <select id="roles" class="form-select" [(ngModel)]="formObj.assembly_id" name="roles"
                                required #rolesCtrl="ngModel">
                                <ng-container *ngFor="let item of assemblyList">
                                    <option [value]="item.id">{{item.name}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row mb-3">
                        <label for="inputEmail3" class="col-md-3 form-label">Product Model : </label>
                        <div class="col-md-9">
                            <select id="roles" class="form-select" [(ngModel)]="formObj.model_id" name="roles" required
                                #rolesCtrl="ngModel">
                                <ng-container *ngFor="let item of modaldataList">
                                    <option [value]="item.id">{{item.name}}</option>
                                </ng-container>
                            </select>
                        </div>
                    </div>
                    <div class="serch-box">
                        <button type="button" class="btn btn-secondary" (click)="getCatalogue('Reset')">Reset</button>
                        <button type="submit" class="btn btn-primary" (click)="getCatalogue('Search')">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row" *ngIf="partList && partList.length">
            <div class="col-md-5">
                <h2 class="img-title">{{partList[0].assembly.name}}</h2>
                <img class="img-box" [src]="partList[0].assembly.image" alt="" srcset="">
            </div>
            <div class="col-md-7">
                <div class="table-hed">
                    <div>
                        Total Selected Line Item : {{lineCount}}
                    </div>
                    <div>
                        <a (click)="moveTocart()" class="move-to-cart">Move All Item to Cart</a>
                    </div>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered border-dark">
                        <thead class="table-dark">
                            <tr>
                                <th scope="col" rowspan="2">
                                    <div class="table-agliment">
                                        Sno
                                    </div>
                                </th>
                                <th scope="col" rowspan="2">
                                    <div class="table-agliment">
                                        PartNo
                                    </div>
                                </th>
                                <th scope="col" rowspan="2">
                                    <div class="table-agliment">
                                        PartDesc
                                    </div>
                                </th>
                                <th scope="col" rowspan="2">
                                    <div class="table-agliment">
                                        Item Selected {{totalQty}}  
                                    </div>
                                </th>
                                <th scope="col" class="text-center">Qty</th>

                                <th scope="col" rowspan="2">
                                    <div class="table-agliment">
                                        Remarks
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th scope="col" class="text-center">
                                    2WD 4WD
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of partList;let i = index">
                                <th scope="row">{{item.sno}}</th>
                                <td>{{item.part_no}}</td>
                                <td>{{item.description}}</td>
                                <td>
                                    <div class="qty-box">
                                        <button type="button" class="btn btn-danger" (click)="decrement(i)">
                                            <i class="bi bi-dash-circle"></i>
                                        </button>
                                        <input type="number" [(ngModel)]="item.qty" class="form-control" id="qty"
                                            name="qty">
                                        <button type="button" class="btn btn-danger" (click)="increment(i)">
                                            <i class="bi bi-plus-circle"></i>
                                        </button>
                                    </div>

                                </td>
                                <td> </td>
                                <td> </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
        <div *ngIf="!partList.length" class="text-center">
            Search To Part's Show
        </div>
    </div>
</div>