<!-- Password Reset 4 - Bootstrap Brain Component -->
<section class="p-3 p-md-4 p-xl-5">
    <div class="container">
        <div class="card border-light-subtle shadow-sm">
            <div class="row g-0">
                <div class="col-12 col-md-6">
                    <img class="img-fluid rounded-start w-100 object-fit-cover" loading="lazy"
                        src="./assets/img/forgot-password.png" alt="BootstrapBrain Logo" style="max-height: 453px;">
                </div>
                <div class="col-12 col-md-6">
                    <div class="card-body p-3 p-md-4 p-xl-5">
                        <div class="row">
                            <div class="col-12">
                                <div class="mb-5">
                                    <h2 class="h3">Password Reset</h2>
                                    <h3 class="fs-6 fw-normal text-secondary m-0">Provide the email address associated
                                        with your account to recover your password.</h3>
                                </div>
                            </div>
                        </div>
                        <form #emailForm="ngForm" (ngSubmit)="onSubmit(emailForm)" *ngIf="!isChangePass">
                            <div class="row gy-3 gy-md-4 overflow-hidden">
                                <div class="col-12">
                                    <label for="email" class="form-label">Email <span
                                            class="text-danger">*</span></label>
                                    <input type="email" class="form-control" name="email" id="email"
                                        placeholder="name@example.com" required [(ngModel)]="formObj.email"
                                        #emailField="ngModel"
                                        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$">
                                    <div *ngIf="emailField.invalid && (emailField.dirty || emailField.touched)"
                                        class="text-danger">
                                        <div *ngIf="emailField.errors?.['required']">Email is required.</div>
                                        <div *ngIf="emailField.errors?.['pattern']">Email must follow the pattern:
                                            user@example.com.</div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button class="btn bsb-btn-xl btn-primary" type="submit"
                                            [disabled]="emailForm.invalid">Send</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <form #changePassForm="ngForm" (ngSubmit)="onSubmit(changePassForm)" *ngIf="isChangePass">
                            <div class="row gy-3 gy-md-4 overflow-hidden">
                                <div class="col-md-12">
                                    <label for="newPassword" class="form-label">New Password<sup
                                            class="text-danger">*</sup>:</label>
                                    <input type="password" class="form-control" id="newPassword"
                                        [(ngModel)]="passwordObj.new_password" name="new_password" required minlength="6"
                                        #newPasswordCtrl="ngModel">
                                    <div *ngIf="newPasswordCtrl.invalid && (newPasswordCtrl.dirty || newPasswordCtrl.touched || changePassForm.submitted)"
                                        class="text-danger">
                                        <div *ngIf="newPasswordCtrl.errors?.['required']">
                                            New Password is required.
                                        </div>
                                        <div *ngIf="newPasswordCtrl.errors?.['minlength']">
                                            New Password must be at least 6 characters.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label for="confirmPassword" class="form-label">Confirm Password<sup
                                            class="text-danger">*</sup>:</label>
                                    <input type="password" class="form-control" id="confirmPassword"
                                        [(ngModel)]="passwordObj.new_password_confirmation" name="new_password_confirmation"
                                        required minlength="6" #confirmPasswordCtrl="ngModel"
                                        [ngClass]="{'is-invalid': confirmPasswordCtrl.invalid && (confirmPasswordCtrl.dirty || confirmPasswordCtrl.touched || changePassForm.submitted)}">
                                    <div *ngIf="confirmPasswordCtrl.invalid && (confirmPasswordCtrl.dirty || confirmPasswordCtrl.touched || changePassForm.submitted)"
                                        class="text-danger">
                                        <div *ngIf="confirmPasswordCtrl.errors?.['required']">
                                            Confirm Password is required.
                                        </div>
                                        <div *ngIf="confirmPasswordCtrl.errors?.['minlength']">
                                            Confirm Password must be at least 6 characters.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="d-grid">
                                        <button class="btn bsb-btn-xl btn-primary" type="submit"
                                            [disabled]="changePassForm.invalid">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>

                        <div class="row">
                            <div class="col-12">
                                <hr class="mt-5 mb-4 border-secondary-subtle">
                                <div class="d-flex gap-2 gap-md-4 flex-column flex-md-row justify-content-md-end">
                                    <a routerLink="/login" class="link-secondary text-decoration-none">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>