<!-- ======= Header ======= -->
<header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
        <a href="index.html" class="logo d-flex align-items-center">
            <img src="assets/img/logo.png" alt="">
            <span class="d-none d-lg-block">Captain</span>
            <span class="d-none d-lg-block"> Tractors</span>
        </a>
        <!-- <i class="bi bi-list toggle-sidebar-btn" (click)="toggelSideBar()"></i> -->
    </div>


    <nav class="header-nav camel-login-menu full-screen">
        <!-- <a href="javascript:;" class="d-md-none d-block camel-menu-btn"><i class="bi bi-list"></i></a> -->
        <ul class="d-flex align-items-center camel-login-menu-ul">

            <li class="d-none d-md-block nav-item dropdown pe-3" *ngIf="userData?.role_name == 'Distributor'">
                <a class="nav-link nav-profile dasboard-button" routerLink="/dashboard">
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Dropdown Menu -->
            <ng-container *ngIf="userData?.role_name != 'Distributor'">
                <li class="nav-item dropdown pe-3" *ngFor="let item of menuItems">
                    <a *ngIf="!item.children.length" class="nav-link nav-profile" [routerLink]="item.path">
                        <span class="ps-2">{{item.title}}</span>
                    </a>

                    <a *ngIf="item.children.length" class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
                        data-bs-toggle="dropdown">
                        <span class="d-none d-md-block dropdown-toggle ps-2">{{item.title}}</span>
                    </a>

                    <ul *ngIf="item.children.length"
                        class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li *ngFor="let child of item.children">
                            <a class="dropdown-item d-flex align-items-center" [routerLink]="child.path">
                                <span>{{child.title}}</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                    </ul>
                </li>
            </ng-container>
        </ul>

    </nav>

    <nav class="header-nav ms-auto">
        <ul class="d-flex align-items-center">
            <li class="nav-item dropdown" *ngIf="userData?.role_name != 'CTPL' && userData?.role_name != 'CTPL-2'">
                <a class="nav-link nav-icon" routerLink="/add-to-cart">
                    <i class="bi bi-cart4"></i>
                    <span class="badge bg-primary badge-number">{{service.cartCount}}</span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link nav-icon" data-bs-toggle="offcanvas" href="#theme-settings-offcanvas">
                    <i class="bi bi-bell"></i>
                    <span class="badge bg-primary badge-number">{{service.notiCount}}</span>
                </a>
            </li>

            <li class="nav-item dropdown pe-3 full-screen">
                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                    <!-- <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
                    <span class="dropdown-toggle ps-2">{{userData?.name}}</span>
                </a>

                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">

                    <li class="dropdown-header">
                        <h6>{{userData?.name}}</h6>
                        <span>{{userData?.role_name}}</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" routerLink="my-profile">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" (click)="signOut()">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul><!-- End Profile Dropdown Items -->
            </li><!-- End Profile Nav -->

            <!-- Mobile View Section -->
            <li class="nav-item dropdown pe-3 small-screen">
                <a class="nav-link nav-profile d-flex align-items-center pe-0 cursor-pointer" id="toggelMenu">
                    <i class="bi bi-list"></i>
                </a>

                <ul id="allMenu" class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">

                    <li class="dropdown-header">
                        <h6>{{userData?.name}}</h6>
                        <span>{{userData?.role_name}}</span>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li *ngIf="userData?.role_name == 'Distributor'">
                        <a class="dropdown-item d-flex align-items-center" routerLink="/dashboard"
                            (click)="removeClass()">
                            <i class="bi bi-person"></i>
                            <span>Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <ng-container *ngIf="userData?.role_name != 'Distributor'">
                        <ng-container *ngFor="let item of menuItems">
                            <li class="dropdown">
                                <a *ngIf="!item.children.length" class="dropdown-item" [routerLink]="item.path"
                                    (click)="removeClass()">
                                    <i [ngClass]="item.icon"></i>
                                    <span class="ps-2">{{item.title}}</span>
                                </a>
                                <a *ngIf="item.children.length" class="dropdown-item d-flex align-items-center pe-0"
                                    href="#" data-bs-toggle="dropdown">
                                    <i [ngClass]="item.icon"></i>
                                    <span class="dropdown-toggle ps-2">{{item.title}}</span>
                                </a>

                                <ul *ngIf="item.children.length"
                                    class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li *ngFor="let child of item.children">
                                        <a class="dropdown-item d-flex align-items-center" [routerLink]="child.path"
                                            (click)="removeClass()">
                                            <span>{{child.title}}</span>
                                        </a>
                                    </li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                </ul>
                            </li>
                            <li class="d-block d-md-none">
                                <hr class="dropdown-divider">
                            </li>
                        </ng-container>
                    </ng-container>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" routerLink="my-profile"
                            (click)="removeClass()">
                            <i class="bi bi-person"></i>
                            <span>My Profile</span>
                        </a>
                    </li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>

                    <li>
                        <a class="dropdown-item d-flex align-items-center" (click)="signOut();removeClass()">
                            <i class="bi bi-box-arrow-right"></i>
                            <span>Sign Out</span>
                        </a>
                    </li>

                </ul>
            </li>

        </ul>
    </nav><!-- End Icons Navigation -->

</header><!-- End Header -->