<div class="pagetitle">
    <h1>Order List</h1>
    <nav *ngIf="userData?.role_id != 3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Order List</li>
        </ol>
    </nav>
</div>

<div class="card">
    <div class="card-body">
        <div class="pt-3">
            <form #serchForm="ngForm">
                <div class="row g-3" *ngIf="userData?.role_id != 3">
                    <div class="col-md-3 mb-3">
                        <label for="search" class="form-label">Dealer :</label>
                        <ng-select [(ngModel)]="serchObj.dealer_id" name="order_type" [items]="dealerList"
                            bindLabel="name" bindValue="id" placeholder="Select Dealer">
                        </ng-select>
                    </div>
                </div>
                <div class="row g-3">
                    <div class="col-md-3">
                        <label for="search" class="form-label">Order Type :</label>
                        <select id="order_type" class="form-select" [(ngModel)]="serchObj.order_type" name="order_type">
                            <option value="">All</option>
                            <option value="VOR">VOR - Vehicle Off Road</option>
                            <option value="STD">STD - Standard order</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="search" class="form-label">From Date :</label>
                        <input type="date" class="form-control" id="search" [(ngModel)]="serchObj.from_date"
                            name="search">
                    </div>
                    <div class="col-md-3">
                        <label for="search" class="form-label">To Date :</label>
                        <input type="date" class="form-control" id="search" [(ngModel)]="serchObj.to_date"
                            name="search">
                    </div>
                    <div class="col-md-3" *ngIf="userData?.role_id != 3">
                        <label for="search" class="form-label">Country :</label>
                        <ng-select [(ngModel)]="serchObj.country_id" name="country_id" [items]="allCountryList"
                            bindLabel="name" bindValue="id" placeholder="Select Country">
                        </ng-select>
                    </div>
                    <div class="serch-box justify-content-end col-md-12">
                        <button type="submit" class="btn btn-primary" (click)="getCatalogue(serchObj)">Search</button>
                        <button type="button" class="btn btn-secondary" (click)="resetForm(serchForm)">Reset</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="d-flex justify-content-between">
            <h5 class="card-title">Results ({{getAllOrder.length}})</h5>
            <div class="add-box" *ngIf="userData?.role_id != 2">
                <button type="button" class="btn btn-primary" routerLink="/add-catalogue">
                    Add
                    <i class="bi bi-plus-circle"></i>
                </button>
            </div>
        </div>

        <!-- Table with hoverable rows -->
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Ser No</th>
                        <th scope="col">Order Type</th>
                        <th scope="col">Order Number</th>
                        <th scope="col">Order date</th>
                        <th scope="col" *ngIf="userData?.role_id != 3">Dealer</th>
                        <th scope="col">Brand</th>
                        <th scope="col">PI Upload Date</th>
                        <th scope="col" *ngIf="userData?.role_id == 1">Download <br> customer's signed PI </th>
                        <th scope="col" *ngIf="userData?.role_id == 3">Download PI</th>
                        <th scope="col" *ngIf="userData?.role_id == 3">Upload Signed PI</th>
                        <!-- <th scope="col" *ngIf="userData?.role_id != 3">Approve PI</th> -->
                        <th scope="col">Order Status</th>
                        <th scope="col" *ngIf="userData?.role_id != 3">Current Stage</th>
                        <th scope="col" *ngIf="userData?.role_id != 2">Tracking Number</th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container
                        *ngFor="let item of getAllOrder | paginate: { itemsPerPage: 10, currentPage: p }; let i = index">
                        <tr (click)="selectedRow(item, $event)" class="pointer"
                            [ngClass]="{ 'highlights': item.order_type == 'VOR' }">
                            <th scope="row">{{ i + 1 }}</th>
                            <td>{{ item.order_type }}</td>
                            <td>{{ item.order_number }}</td>
                            <td>{{ item.order_date | date: 'dd-MMM-yyyy' }}</td>
                            <td *ngIf="userData?.role_id != 3"> {{item.dealer.name}}</td>
                            <td>{{ item.dealer.brand?.name || '-' }}</td>
                            <td>{{ item.pi_date | date: 'dd-MMM-yyyy' || '-'}}</td>
                            <td *ngIf="userData?.role_id == 1">
                                <a class="cursor-pointer signed-pi"
                                    (click)="comman.downloadFile(item.pi_upload_dealer); $event.stopPropagation()"
                                    rel="noopener noreferrer">
                                    {{ item.pi_number_dealer || '-' }}
                                </a>

                            </td>
                            <td *ngIf="userData?.role_id == 3">
                                <div class="action-box" *ngIf="item.po_pdf">
                                    <button type="button" class="btn btn-success"
                                        (click)="comman.downloadFile(item.po_pdf); $event.stopPropagation()">
                                        <i class="bi bi-download"></i>
                                    </button>
                                </div>
                            </td>

                            <td *ngIf="userData?.role_id == 3">
                                <ng-container *ngIf="item.po_pdf; else elseData">
                                    <input type="file" id="fileInput-{{i}}" hidden
                                        (change)="onFileSelected($event,item)">
                                    <label class="btn btn-primary" for="fileInput-{{i}}">Upload PI</label>
                                </ng-container>
                                <ng-template #elseData>
                                    -
                                </ng-template>
                            </td>
                            <!-- <td class="text-center check-id" *ngIf="userData?.role_id != 3">
                                <input type="checkbox" class="form-check-input" [(ngModel)]="item.checked"
                                    [disabled]="item.file == ''" />
                            </td> -->
                            <td *ngIf="userData?.role_id == 3">{{ item.dealer_show_status }}</td>
                            <td *ngIf="userData?.role_id != 3">{{ item.approval_status }}</td>
                            <td *ngIf="userData?.role_id != 3">{{ item.current_stage }}</td>
                            <td *ngIf="userData?.role_id != 2">{{ item.tracking_number }}</td>
                            <!-- <td *ngIf="userData?.role_id != 2">
                                <div class="action-box" *ngIf="item.po_pdf">
                                    <button type="button" class="btn btn-success"
                                        (click)="downloadPdf(item.po_pdf); $event.stopPropagation()">
                                        <i class="bi bi-download"></i>
                                    </button>
                                </div>
                                <div class="action-box mt-2" *ngIf="item.utility_po && userData?.role_id == 1">
                                    <button type="button" class="btn btn-success"
                                        (click)="downloadPdf(item.utility_po); $event.stopPropagation()">
                                        Utility <i class="bi bi-download"></i>
                                    </button>
                                </div>
                            </td> -->
                        </tr>
                    </ng-container>



                </tbody>
                <!-- <tfoot *ngIf="userData?.role_id != 3">
                    <tr>
                        <td colspan="8">
                            <div class="d-flex justify-content-end me-4">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </td>
                        <td colspan="3"></td>
                    </tr>
                </tfoot> -->
            </table>
        </div>

        <!-- End Table with hoverable rows -->

        <div class="d-flex justify-content-end">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>

    </div>
</div>