<!-- start page title -->
<div class="pagetitle">
    <h1 *ngIf="ordertype != 'Back Order'">Order Details</h1>
    <h1 *ngIf="ordertype == 'Back Order'">Back Order Details</h1>
    <nav *ngIf="userData?.role_name != 'Dealer'">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item"><a routerLink="/catalogue-and-ordering">Catalogue & Ordering</a></li>
            <li *ngIf="ordertype != 'Back Order'" class="breadcrumb-item active">Order Details</li>
            <li *ngIf="ordertype == 'Back Order'" class="breadcrumb-item active">Back Order Details</li>
        </ol>
    </nav>
</div>

<!-- Start Content-->
<div class="container-fluid px-0">
    <div class="row">
        <div class="col-lg-9">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-3">Parts from Order #{{orderDetail?.order_number}}</h4>

                    <div class="table-responsive">
                        <table class="table mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th *ngIf="userData?.role_name == 'CTPL'">
                                        <input class="form-check-input" type="checkbox" id="selectAll"
                                            [(ngModel)]="selectAll" (change)="selected()">
                                    </th>
                                    <th>Sno</th>
                                    <th>Part No</th>
                                    <th>Part Name</th>
                                    <th>Quantity</th>
                                    <th *ngIf="userData?.role_name == 'CTPL'"
                                        style="max-width: 130px;text-align: center;">Approve QTY</th>
                                    <th class="text-center">Back Order <br> QTY</th>
                                    <th>MOQ</th>
                                    <!-- <th>Status</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of partList;let i = index">
                                    <td *ngIf="userData?.role_name == 'CTPL'">
                                        <input class="form-check-input" type="checkbox" id="selectAll"
                                            [(ngModel)]="item.is_approve">
                                    </td>
                                    <td>{{item.part?.sno}}</td>
                                    <td>{{item.part?.part_no}}</td>
                                    <td>{{item.part?.name}}</td>
                                    <td>
                                        {{item.part_qty}}
                                    </td>

                                    <td style="max-width: 130px;" *ngIf="userData?.role_name == 'CTPL'">
                                        <div class="qty-box">
                                            <button type="button" class="btn btn-danger"
                                                (click)="decrement(i,item.part_qty)">
                                                <i class="bi bi-dash-circle"></i>
                                            </button>
                                            <input type="number" [(ngModel)]="item.approve_qty" class="form-control"
                                                id="approve_qty" name="approve_qty" (change)="onQuantityChange(item)">
                                            <button type="button" class="btn btn-danger"
                                                (click)="increment(i,item.part_qty)">
                                                <i class="bi bi-plus-circle"></i>
                                            </button>
                                        </div>

                                    </td>
                                    <td class="text-center">{{item.backorder_qty || '-'}}</td>
                                    <td>{{item.part?.moq || '-'}}</td>
                                    <!-- <td>{{item.part?.moq || '-'}}</td> -->
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th colspan="3" class="text-end">Total QTY:</th>
                                    <td>{{orderDetail.total_qty}}</td>
                                    <td colspan="2"></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <!-- end table-responsive -->

                </div>
            </div>
        </div> <!-- end col -->

        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <h4 class="header-title mb-3">Shipping Information</h4>

                    <h5 class="font-16">{{orderDetail.dealer?.first_name}} {{orderDetail.dealer?.last_name}}</h5>

                    <address class="mb-0 font-14 address-lg">
                        {{orderDetail.dealer?.address}}<br>
                        <ng-container *ngIf="userData?.role_name != 'Camel'">
                            <abbr title="Tracking Number">Tracking Number:</abbr> {{tracking_number}} <br>
                        </ng-container>
                        <abbr title="Phone">Phone:</abbr> {{orderDetail.dealer?.phone}}<br>
                        <abbr title="City">City:</abbr> {{orderDetail.dealer?.city}}<br>
                        <abbr title="Country">Country:</abbr> {{orderDetail.dealer?.country?.name}}<br>
                        <abbr title="State">State:</abbr> {{orderDetail.dealer?.state?.name}}
                    </address>

                </div>
            </div>
        </div>
        <!-- end col -->
        <div class="col-lg-8" *ngIf="userData?.role_name == 'CTPL'">
            <!-- Add note input-->
            <div class="">
                <label for="example-textarea" class="form-label">Add a Note:</label>
                <textarea class="form-control" id="example-textarea" rows="3" placeholder="Write some note.."
                    [(ngModel)]="any_comment"></textarea>
            </div>
        </div>
        <div class="col-md-9" *ngIf="userData?.role_name == 'Camel' && orderDetail.approval_status == 'Updated'">
            <div class="card">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="formGroupExampleInput" class="form-label">PI Upload</label>
                                <input type="file" (change)="onFileSelected($event)" accept="application/pdf"
                                    class="form-control" id="formGroupExampleInput" #po_pdf required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="tracking" class="form-label">Tracking Number<sup
                                    class="text-danger">*</sup>:</label>
                            <input type="text" class="form-control" id="tracking" [(ngModel)]="tracking_number"
                                name="tracking_number" required #nameCtrl="ngModel" [disabled]="isDesibled">
                            <div *ngIf="nameCtrl.invalid && (nameCtrl.dirty || nameCtrl.touched )"
                                class="text-danger invalid-feild">
                                Tracking Number is required.
                            </div>
                        </div>
                        <div class="col-md-12 d-flex justify-content-end">
                            <div class="text-sm-end me-2">
                                <a class="btn btn-primary mt-2 d-flex" (click)="onSubmit('Upload')">
                                    <i class="bi bi-file-earmark-pdf"></i> Upload
                                </a>
                            </div>

                            <div class="text-sm-end">
                                <a class="btn btn-secondary mt-2 d-flex" (click)="onSubmit('Reset')">
                                    <i class="bi bi-arrow-clockwise"></i> Reset
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="serch-box col-md-12">
            <ng-container
                *ngIf="ordertype == 'Order' && userData?.role_name == 'Camel' && orderDetail.current_stage != 'Approved' && orderDetail.current_stage != 'Partial-Approved' && orderDetail.current_stage != 'Approved By CTPL'">
                <button type="button" class="btn btn-danger" (click)="rejectOrder()">Reject</button>
                <button type="submit" class="btn btn-success" (click)="approveOrder()">Approve</button>
            </ng-container>
            <ng-container
                *ngIf="ordertype == 'Order' && userData?.role_name == 'CTPL'  && orderDetail.current_stage != 'Partial-Approved'&& orderDetail.current_stage != 'Approved By CTPL'">
                <button type="button" class="btn btn-danger" (click)="rejectOrder()">Reject</button>
                <button type="submit" class="btn btn-success" (click)="approveOrderCtpl()">Approve</button>
            </ng-container>
            <ng-container *ngIf="ordertype == 'Back Order'  &&  userData?.role_name == 'Dealer'">
                <button type="button" class="btn btn-danger">Reject</button>
                <button type="submit" class="btn btn-success" (click)="approveOrderDealer()">Approve</button>
            </ng-container>
        </div>
    </div>
    <!-- end row -->

</div>
<!-- container -->