.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: calc(100% - 73px);
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}

.form-label,
.form-check-label {
    font-size: 16px;
    font-weight: 600;
    color: #544f4f;
}

#login-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 500px;
}

.gradient-custom-2 {
    background: #fccb90;
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    // background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    background: linear-gradient(140deg, #163a5c, #163a5c7a, #cd444496, #ec3237);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}


.button-box {
    display: flex;
    flex-direction: column;
}

.carousel-indicators {
    gap: 3px;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
}

.carousel-indicators .active {
    width: 11px;
    height: 11px;
    margin: 0;
    background-color: #fff;
}

#owl-demo img {
    display: block;
    width: 100%;
    height: 500px !important;
    object-fit: cover;
}