<section class="h-100 gradient-form">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="row g-0 justify-content-center">
                    <div class="col-lg-8">
                        <div class="card rounded-3 text-black">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center mb-3">
                                    <img src="./assets/img/logo-1.png" style="width: 185px;" alt="logo">
                                </div>
                                <div class="mb-3">
                                    <h2 class="h4 text-danger">Reset Password</h2>
                                </div>

                                <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                                    <div class="form-outline mb-3">
                                        <label class="form-label" for="form3Example3">Email:</label>
                                        <input type="email" id="form3Example3" [(ngModel)]="formObj.email" name="email"
                                            class="form-control" placeholder="Email Address" disabled>
                                    </div>

                                    <div class="form-outline mb-3">
                                        <label class="form-label" for="form3Example4">
                                            Password<sup class="text-danger">*</sup>:
                                        </label>
                                        <div class="input-group">
                                            <input type="password" id="form3Example4" [(ngModel)]="formObj.password"
                                                name="password" class="form-control" placeholder="Enter password"
                                                required minlength="6" #passwordCtrl="ngModel">
                                            <span class="input-group-text"
                                                (click)="comman.hideShowPassword('form3Example4','reset-pass')">
                                                <i class="bi bi-eye" id="reset-pass"></i>
                                            </span>
                                        </div>
                                        <div *ngIf="passwordCtrl.invalid && (passwordCtrl.dirty || passwordCtrl.touched || form.submitted)"
                                            class="text-danger">
                                            <small *ngIf="passwordCtrl.errors?.['required']">
                                                Password is required.
                                            </small>
                                            <small *ngIf="passwordCtrl.errors?.['minlength']">
                                                Password must be at least 6 characters long.
                                            </small>
                                        </div>
                                    </div>

                                    <div class="form-outline mb-3">
                                        <label class="form-label" for="conform">
                                            Confirm Password<sup class="text-danger">*</sup>:
                                        </label>
                                        <div class="input-group">
                                            <input type="password" id="conform"
                                                [(ngModel)]="formObj.password_confirmation" name="confirmPassword"
                                                class="form-control" placeholder="Enter Confirm password" required
                                                #conformPasswordCtrl="ngModel">
                                            <span class="input-group-text"
                                                (click)="comman.hideShowPassword('conform','reset-conformPass')">
                                                <i class="bi bi-eye" id="reset-conformPass"></i>
                                            </span>
                                        </div>
                                        <div *ngIf="conformPasswordCtrl.invalid && (conformPasswordCtrl.dirty || conformPasswordCtrl.touched || form.submitted)"
                                            class="text-danger">
                                            {{formObj.confirmPassword}}
                                            <small *ngIf="conformPasswordCtrl.errors?.['required']">
                                                Password is required.
                                            </small>
                                        </div>
                                        <div *ngIf="formObj.password_confirmation && formObj.password != formObj.password_confirmation"
                                            class="text-danger">
                                            <small>
                                                Confirm password dose not match.
                                            </small>
                                        </div>
                                    </div>

                                    <div class="text-center text-lg-start mt-4 pt-2">
                                        <button type="submit" class="btn btn-primary gradient-custom-2"
                                            style="padding-left: 2.5rem; padding-right: 2.5rem;">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>