<div class="dashboard">
    <div class=" pagetitle">
        <h1>{{productName}}</h1>
        <!-- <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item">Parts Catalogue</li>
                <li class="breadcrumb-item active">{{productName}}</li>
            </ol>
        </nav> -->
    </div>



    <div class="row">
        <div class="col-lg-6">
            <div class="row mt-3 justify-content-center">

                <ng-container *ngFor="let item of categoryList">
                    <div class="col-xxl-6 col-md-6">
                        <div class="card info-card pb-0 sales-card cursor-pointer" [routerLink]="['/add-catalogue']"
                            [queryParams]="{ model_id: productId,product_type_id:productTypeId,category_id:item.id }">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="ps-3 box-header">
                                        <h6>{{item.name}}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>

            </div>
        </div>
        <div class="col-lg-6">
            <img src="./assets/img/tractor.png" alt="" srcset="">
        </div>
        <div class="col-lg-12 text-end">
            <button class="btn btn-danger" (click)="comman.downloadFile(pdfUrl)">
                <i class="bi bi-download"></i>
                Download
            </button>
        </div>
    </div>
</div>