<div class="dashboard">
    <div class=" pagetitle">
        <h1>Welcome To Dashboard</h1>
        <!-- <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav> -->
    </div>

    <div class="row mt-3">
        <div class="col-xxl-3 col-md-4">
            <div class="card info-card pb-0 sales-card cursor-pointer">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="ps-3">
                            <h6>145</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xxl-3 col-md-4">
            <div class="card info-card pb-0 sales-card cursor-pointer">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="ps-3">
                            <h6>145</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>