<div class="dashboard">
    <div class=" pagetitle">
        <h1>Welcome To Dashboard</h1>
        <!-- <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav> -->
    </div>


    <ng-container *ngIf="userData?.role_name != 'Dealer'">
        <div class="row mt-3">
            <div class="col-xxl-3 col-md-3">
                <div class="card info-card pb-0 sales-card cursor-pointer">
                    <div class="card-body" (click)="toggelSection('Catalogue')">
                        <div class="d-flex align-items-center">
                            <div class="ps-3 box-header">
                                <h6>Parts Catalogue</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xxl-3 col-md-3">
                <div class="card info-card pb-0 sales-card cursor-pointer">
                    <div class="card-body" (click)="toggelSection('Order')">
                        <div class="d-flex align-items-center">
                            <div class="ps-3 box-header">
                                <h6>Parts Order</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card info-card" *ngIf="is_show_part_cat">
            <div class="card-body">
                <section>
                    <div class="box-header mb-3">
                        <h6>Model List</h6>
                    </div>
                    <div class="accordion" id="accordionExample">
                        <ng-container *ngIf="modalList && modalList.length">
                            <ng-container *ngFor="let item of modalList; let i = index">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" [id]="'heading' + i">
                                        <button class="accordion-button collapsed" type="button"
                                            [attr.data-bs-toggle]="'collapse'" [attr.data-bs-target]="'#collapse' + i"
                                            [attr.aria-expanded]="false" [attr.aria-controls]="'collapse' + i">
                                            {{userData.role_name == 'Dealer' ? item.model_name : item.name}}
                                        </button>
                                    </h2>
                                    <div [id]="'collapse' + i" class="accordion-collapse collapse"
                                        [attr.aria-labelledby]="'heading' + i" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="text-end">
                                                <button class="btn btn-primary"
                                                    (click)="comman.downloadFile(item.download_pdf)">Download
                                                    PDF</button>
                                            </div>
                                            <!-- <ng-container *ngIf="partList.length;else noParts">
                                            <table class="table table-bordered border-dark">
                                                <thead class="table-dark">
                                                    <tr>
                                                        <th scope="col">
                                                            <div class="table-agliment">
                                                                #
                                                            </div>
                                                        </th>
                                                        <th scope="col">
                                                            <div class="table-agliment">
                                                                PartNo
                                                            </div>
                                                        </th>
                                                        <th scope="col">
                                                            <div class="table-agliment">
                                                                PartDesc
                                                            </div>
                                                        </th>
                                                        <th scope="col" class="text-center">
                                                            <div class="table-agliment">
                                                                2WD 4WD
                                                            </div>
                                                        </th>
                                                        <th scope="col">
                                                            <div class="table-agliment">
                                                                Remarks
                                                            </div>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr
                                                        *ngFor="let part of partList | paginate: { itemsPerPage: 10, currentPage: p }; let j = index">
                                                        <th scope="row">{{j + 1}}</th>
                                                        <td>{{part.part_no}}</td>
                                                        <td>{{part.description}}</td>
                                                        <td></td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="d-flex justify-content-end">
                                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                                            </div>
                                        </ng-container>
                                        <ng-template #noParts>
                                            <p class="text-center fw-blod">No parts available.</p>
                                        </ng-template> -->
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>

                        <ng-container *ngIf="!modalList.length">
                            <div class="not-found">
                                Model Not Available
                            </div>
                        </ng-container>
                    </div>
                </section>


            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="userData?.role_name == 'Dealer'">
        <div class="row">
            <div class="col-lg-6">
                <div class="row mt-3 justify-content-center">
                    <div class="col-xxl-6 col-md-6">
                        <div class="card info-card pb-0 sales-card cursor-pointer" routerLink="/parts-catalogue">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="ps-3 box-header">
                                        <h6>Parts Catalogue</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-md-6">
                        <div class="card info-card pb-0 sales-card cursor-pointer" routerLink="/parts-order">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="ps-3 box-header">
                                        <h6>Parts Order</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-md-6 disabled">
                        <div class="card info-card pb-0 sales-card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="ps-3 box-header">
                                        <h6>Goods receipt / Transit Claim</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-md-6 disabled">
                        <div class="card info-card pb-0 sales-card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="ps-3 box-header">
                                        <h6>Sales Registration / Warranty Registration</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-md-6 disabled">
                        <div class="card info-card pb-0 sales-card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="ps-3 box-header">
                                        <h6>PDI Claim</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-md-6 disabled">
                        <div class="card info-card pb-0 sales-card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="ps-3 box-header">
                                        <h6>Warranty Claims</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-md-6 disabled">
                        <div class="card info-card pb-0 sales-card">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="ps-3 box-header">
                                        <h6>PCR</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-md-6">
                        <div class="card info-card pb-0 sales-card cursor-pointer" routerLink="/owners-manuals">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="ps-3 box-header">
                                        <h6>Operator Manual</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-md-6">
                        <div class="card info-card pb-0 sales-card cursor-pointer" routerLink="/i-circular">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="ps-3 box-header">
                                        <h6>Service Bulletin</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-md-6">
                        <div class="card info-card pb-0 sales-card cursor-pointer" routerLink="/service-manuals">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="ps-3 box-header">
                                        <h6>Service Manual</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-md-6">
                        <div class="card info-card pb-0 sales-card cursor-pointer" routerLink="/reports">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="ps-3 box-header">
                                        <h6>Reports</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xxl-6 col-md-6">
                        <div class="card info-card pb-0 sales-card cursor-pointer" routerLink="/feedback">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <div class="ps-3 box-header">
                                        <h6>Feedback</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 dashboard-right-column">
                <img src="./assets/img/tractor.png" alt="" srcset="">
            </div>
        </div>
    </ng-container>
</div>