<div class="pagetitle toggle-box">
    <div>
        <h1>Parts Catalogue</h1>
    </div>

    <div class="toggle-container">
        <label class="toggle-switch" [ngClass]="{ 'active': isChecked }">
            <input type="checkbox" id="toggleCheckbox" [(ngModel)]="isChecked" hidden (change)="toggleSwitch()">
            <span>{{ isChecked ? 'Tractor' : 'Implement' }}</span>
            <div class="slider"></div>
        </label>

    </div>
</div>

<!-- <div class="box-grid mt-3" *ngIf="modalList && modalList.length"> -->
<div class="row mt-3 g-0" *ngIf="modalList && modalList.length">
    <ng-container *ngFor="let item of modalList">
        <div class="col-md-3">
            <div class="card cursor-pointer modal-card" (click)="navigateTo(item)">
                <div class="p-3 bg-white">
                    <div class="about-product part-catelogue-block text-center mt-2">
                        <div class="part-catelogue-img">
                            <!-- <img src="./assets/img/tractor.png" width="300"> -->
                            <img [src]="item.image ? item.image : './assets/img/tractor.png'" width="300">
                        </div>
                        <div>
                            <h4>{{item.model_name}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<div class="card text-center" *ngIf="!modalList.length">
    <h5 class="p-4">No Data Found</h5>
</div>