<div class="container rounded bg-white" style="margin-bottom: 70px;">
    <div class="row py-2">
        <!-- <div class="col-md-3">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle" width="150px"
                    src="assets/img/profile-img.jpg">
                <span class="font-weight-bold mt-1">{{userData.first_name}}</span>
                <span class="text-black-50">{{userData.email}}</span><span>
                </span>
            </div>
        </div> -->
        <div class="col-md-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">
                        Profile Settings
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                        role="tab" aria-controls="home" aria-selected="true">
                        Change Password
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <form #form="ngForm" class="p-3">
                        <div class="row g-3">
                            <div class="col-md-6">
                                <label for="first_name" class="form-label">First Name<sup
                                        class="text-danger">*</sup>:</label>
                                <input type="text" class="form-control" id="first_name" [(ngModel)]="formObj.first_name"
                                    name="first_name" required #firstNameCtrl="ngModel">
                                <div *ngIf="firstNameCtrl.invalid && (firstNameCtrl.dirty || firstNameCtrl.touched || form.submitted)"
                                    class="text-danger">
                                    First name is required.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="last_name" class="form-label">Last Name<sup
                                        class="text-danger">*</sup>:</label>
                                <input type="text" class="form-control" id="last_name" [(ngModel)]="formObj.last_name"
                                    name="last_name" required #lastNameCtrl="ngModel">
                                <div *ngIf="lastNameCtrl.invalid && (lastNameCtrl.dirty || lastNameCtrl.touched || form.submitted)"
                                    class="text-danger">
                                    Last name is required.
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="inputAddress5" class="form-label">Phone</label>
                                <input type="number" class="form-control" id="inputAddress5" [(ngModel)]="formObj.phone"
                                    name="phone" #phoneCtrl="ngModel">
                                <!-- <div *ngIf="phoneCtrl.invalid && (phoneCtrl.dirty || phoneCtrl.touched || form.submitted)" class="text-danger">
                                        Phone number is required.
                                    </div> -->
                            </div>
                            <div class="col-md-6">
                                <label for="inputEmail5" class="form-label">Email<sup
                                        class="text-danger">*</sup>:</label>
                                <input type="email" class="form-control" id="inputEmail5" [(ngModel)]="formObj.email"
                                    name="email" required email #emailCtrl="ngModel">
                                <div *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched || form.submitted)"
                                    class="text-danger">
                                    <div *ngIf="emailCtrl.errors?.['required']">
                                        Email is required.
                                    </div>
                                    <div *ngIf="emailCtrl.errors?.['email']">
                                        Invalid email format.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="inputPassword5" class="form-label">Password:</label>
                                <input type="password" class="form-control" id="inputPassword5"
                                    [(ngModel)]="formObj.password" name="password" minlength="6" disabled>

                            </div>
                            <div class="col-md-6">
                                <label for="inputcountry" class="form-label">Country<sup
                                        class="text-danger">*</sup>:</label>
                                <select id="inputcountry" class="form-select" [(ngModel)]="formObj.country_id" name="country_id"
                                    required #countryCtrl="ngModel" (change)="selectCountry()">
                                    <ng-container *ngFor="let item of allCountryList">
                                        <option [value]="item.id">{{item.name}}</option>
                                    </ng-container>
                                </select>
                                <div *ngIf="countryCtrl.invalid && (countryCtrl.dirty || countryCtrl.touched || form.submitted)"
                                    class="text-danger invalid-feild">
                                    Country is required.
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="inputState" class="form-label">State<sup class="text-danger">*</sup>:</label>
                                <select id="inputState" class="form-select" [(ngModel)]="formObj.state_id" name="state_id"
                                    required #stateCtrl="ngModel">
                                    <ng-container *ngFor="let item of allStateList">
                                        <option [value]="item.id">{{item.name}}</option>
                                    </ng-container>
                                </select>
                                <div *ngIf="stateCtrl.invalid && (stateCtrl.dirty || stateCtrl.touched || form.submitted)"
                                    class="text-danger invalid-feild">
                                    State is required.
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="inputCity" class="form-label">City<sup class="text-danger">*</sup>:</label>
                                <input type="text" class="form-control" id="inputCity" [(ngModel)]="formObj.city"
                                    name="city" required #cityCtrl="ngModel">
                                <div *ngIf="cityCtrl.invalid && (cityCtrl.dirty || cityCtrl.touched || form.submitted)"
                                    class="text-danger">
                                    City is required.
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label for="roles" class="form-label">Roles<sup class="text-danger">*</sup>:</label>
                                <select id="roles" class="form-select" [(ngModel)]="formObj.role_id" name="roles"
                                    required #rolesCtrl="ngModel" disabled>
                                    <ng-container *ngFor="let item of roleList">
                                        <option [value]="item.id">{{item.name}}</option>
                                    </ng-container>
                                </select>
                                <div *ngIf="rolesCtrl.invalid && (rolesCtrl.dirty || rolesCtrl.touched || form.submitted)"
                                    class="text-danger">
                                    Role is required.
                                </div>
                            </div>

                            <div class="col-12">
                                <label for="inputAddress2" class="form-label">Address<sup
                                        class="text-danger">*</sup>:</label>
                                <input type="text" class="form-control" id="inputAddress2"
                                    placeholder="Apartment, studio, or floor" [(ngModel)]="formObj.address"
                                    name="address" required #addressCtrl="ngModel">
                                <div *ngIf="addressCtrl.invalid && (addressCtrl.dirty || addressCtrl.touched || form.submitted)"
                                    class="text-danger">
                                    Address is required.
                                </div>
                            </div>

                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary mt-2" (click)="updateProfile()">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <form #passwordForm="ngForm" class="p-3" (ngSubmit)="onSubmitPassword(passwordForm)">
                        <div class="row g-3">
                            <div class="col-md-12">
                                <label for="currentPassword" class="form-label">Current Password<sup
                                        class="text-danger">*</sup>:</label>
                                <input type="password" class="form-control" id="currentPassword"
                                    [(ngModel)]="passwordObj.current_password" name="current_password" required
                                    minlength="6" #currentPasswordCtrl="ngModel">
                                <div *ngIf="currentPasswordCtrl.invalid && (currentPasswordCtrl.dirty || currentPasswordCtrl.touched || passwordForm.submitted)"
                                    class="text-danger">
                                    <div *ngIf="currentPasswordCtrl.errors?.['required']">
                                        Current Password is required.
                                    </div>
                                    <div *ngIf="currentPasswordCtrl.errors?.['minlength']">
                                        Current Password must be at least 6 characters.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="newPassword" class="form-label">New Password<sup
                                        class="text-danger">*</sup>:</label>
                                <input type="password" class="form-control" id="newPassword"
                                    [(ngModel)]="passwordObj.new_password" name="new_password" required minlength="6"
                                    #newPasswordCtrl="ngModel">
                                <div *ngIf="newPasswordCtrl.invalid && (newPasswordCtrl.dirty || newPasswordCtrl.touched || passwordForm.submitted)"
                                    class="text-danger">
                                    <div *ngIf="newPasswordCtrl.errors?.['required']">
                                        New Password is required.
                                    </div>
                                    <div *ngIf="newPasswordCtrl.errors?.['minlength']">
                                        New Password must be at least 6 characters.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="confirmPassword" class="form-label">Confirm Password<sup
                                        class="text-danger">*</sup>:</label>
                                <input type="password" class="form-control" id="confirmPassword"
                                    [(ngModel)]="passwordObj.new_password_confirmation" name="new_password_confirmation"
                                    required minlength="6" #confirmPasswordCtrl="ngModel"
                                    [ngClass]="{'is-invalid': confirmPasswordCtrl.invalid && (confirmPasswordCtrl.dirty || confirmPasswordCtrl.touched || passwordForm.submitted)}">
                                <div *ngIf="confirmPasswordCtrl.invalid && (confirmPasswordCtrl.dirty || confirmPasswordCtrl.touched || passwordForm.submitted)"
                                    class="text-danger">
                                    <div *ngIf="confirmPasswordCtrl.errors?.['required']">
                                        Confirm Password is required.
                                    </div>
                                    <div *ngIf="confirmPasswordCtrl.errors?.['minlength']">
                                        Confirm Password must be at least 6 characters.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="submit" class="btn btn-primary mt-2">Submit</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>