<div class="container rounded bg-white" style="margin-bottom: 70px;">
    <div class="row py-2">
        <div class="col-md-3">
            <div class="profile-selection">
                <div class="d-flex flex-column align-items-center text-center p-3 py-4">
                    <label class="form-label mb-2" style="font-size: 18px;">Profile Logo</label>
                    <div class="profile-img">
                        <img class="rounded-circle" width="150px" height="150px" [src]="userData.image ? userData.image : 'assets/img/profile-imag.png'">
                        <label class="photoBadge no-img" for="photo">
                            <div class="content-wrap">
                                <div class="icon-wrap">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                </div>
                                <div class="label typ-18Bold">Add Photo</div>
                            </div>
                        </label>
                        <input type="file" id="photo" (change)="onFileSelected($event)" accept=".png, .jpg, .jpeg" hidden #fileInput>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">
                        Profile Settings
                    </button>
                </li>
                <li class="nav-item" role="presentation" *ngIf="userData.role_id == 1">
                    <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button"
                        role="tab" aria-controls="home" aria-selected="true">
                        Change Password
                    </button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <form class="p-3" #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
                        <div class="modal-body">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label for="name" class="form-label">Distributor Name<sup
                                            class="text-danger">*</sup>:</label>
                                    <input type="text" class="form-control" id="name" [(ngModel)]="formObj.name"
                                        name="name" required #nameCtrl="ngModel">
                                    <div *ngIf="nameCtrl.invalid && (nameCtrl.dirty || nameCtrl.touched || userForm.submitted)"
                                        class="text-danger invalid-feild">
                                        Distributor Name is required.
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="name" class="form-label">Distributor Code<sup
                                            class="text-danger">*</sup>:</label>
                                    <input type="text" class="form-control" id="name" [(ngModel)]="formObj.code"
                                        name="code" required #codeCtrl="ngModel"
                                        [disabled]="userData.role_id != 1">
                                    <div *ngIf="codeCtrl.invalid && (codeCtrl.dirty || codeCtrl.touched || userForm.submitted)"
                                        class="text-danger invalid-feild">
                                        Distributor Code is required.
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="inputAddress5" class="form-label">Mobile Number</label>
                                    <input type="number" class="form-control" id="inputAddress5"
                                        [(ngModel)]="formObj.phone" name="phone" #phoneCtrl="ngModel">
                                </div>

                                <div class="col-md-6">
                                    <label for="contact_name" class="form-label">Contact Person Name<sup
                                            class="text-danger">*</sup>:</label>
                                    <input type="text" class="form-control" id="contact_name"
                                        [(ngModel)]="formObj.contact_name" name="contact_name" required
                                        #contact_nameCtrl="ngModel">
                                    <div *ngIf="contact_nameCtrl.invalid && (contact_nameCtrl.dirty || contact_nameCtrl.touched || userForm.submitted)"
                                        class="text-danger invalid-feild">
                                        Contact Person Name is required.
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="inputEmail5" class="form-label">Email<sup
                                            class="text-danger">*</sup>:</label>
                                    <input type="email" class="form-control" id="inputEmail5"
                                        [(ngModel)]="formObj.email" name="email" required email #emailCtrl="ngModel">
                                    <div *ngIf="emailCtrl.invalid && (emailCtrl.dirty || emailCtrl.touched || userForm.submitted)"
                                        class="text-danger invalid-feild">
                                        <div *ngIf="emailCtrl.errors?.['required']">
                                            Email is required.
                                        </div>
                                        <div *ngIf="emailCtrl.errors?.['email']">
                                            Invalid email format.
                                        </div>
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <label for="brandId" class="form-label">Brand<sup
                                            class="text-danger">*</sup>:</label>
                                    <select id="brandId" class="form-select" [(ngModel)]="formObj.brand_id"
                                        name="brand_id" required #brandCtrl="ngModel"
                                        [disabled]="userData.role_id != 1">
                                        <ng-container *ngFor="let item of brandList">
                                            <option [value]="item.id">{{item.name}}</option>
                                        </ng-container>
                                    </select>
                                    <div *ngIf="brandCtrl.invalid && (brandCtrl.dirty || brandCtrl.touched || userForm.submitted)"
                                        class="text-danger invalid-feild">
                                        Brand is required.
                                    </div>
                                </div>

                                <!-- <div class="col-md-6">
                                    <label for="roles" class="form-label">Roles<sup class="text-danger">*</sup>:</label>
                                    <select id="roles" class="form-select" [(ngModel)]="formObj.role_id" name="role_id"
                                        required #rolesCtrl="ngModel" disabled>
                                        <ng-container *ngFor="let item of roleList">
                                            <option [value]="item.id">{{item.name}}</option>
                                        </ng-container>
                                    </select>
                                    <div *ngIf="rolesCtrl.invalid && (rolesCtrl.dirty || rolesCtrl.touched || userForm.submitted)"
                                        class="text-danger invalid-feild">
                                        Role is required.
                                    </div>
                                </div> -->

                                <div class="col-md-6">
                                    <label for="inputContinent_id" class="form-label">Continent<sup
                                            class="text-danger">*</sup>:</label>
                                    <select id="inputContinent_id" class="form-select"
                                        [(ngModel)]="formObj.continent_id" name="continent_id"
                                        (change)="getRegionList()" required #continentCtrl="ngModel">
                                        <ng-container *ngFor="let item of allContinent">
                                            <option [value]="item.id">{{item.name}}</option>
                                        </ng-container>
                                    </select>
                                    <div *ngIf="continentCtrl.invalid && (continentCtrl.dirty || continentCtrl.touched || userForm.submitted)"
                                        class="text-danger invalid-feild">
                                        Continent is required.
                                    </div>
                                </div>


                                <div class="col-md-6">
                                    <label for="inputregion" class="form-label">Region<sup
                                            class="text-danger">*</sup>:</label>
                                    <select id="inputregion" class="form-select" [(ngModel)]="formObj.region_id"
                                        name="region_id" (change)="getCountryList()" required #regionCtrl="ngModel">
                                        <ng-container *ngFor="let item of allRegionList">
                                            <option [value]="item.id">{{item.name}}</option>
                                        </ng-container>
                                    </select>
                                    <div *ngIf="regionCtrl.invalid && (regionCtrl.dirty || regionCtrl.touched || userForm.submitted)"
                                        class="text-danger invalid-feild">
                                        Region is required.
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="inputcountry" class="form-label">Country<sup
                                            class="text-danger">*</sup>:</label>
                                    <select id="inputcountry" class="form-select" [(ngModel)]="formObj.country_id"
                                        name="country_id" required #countryCtrl="ngModel">
                                        <ng-container *ngFor="let item of allCountryList">
                                            <option [value]="item.id">{{item.name}}</option>
                                        </ng-container>
                                    </select>
                                    <div *ngIf="countryCtrl.invalid && (countryCtrl.dirty || countryCtrl.touched || userForm.submitted)"
                                        class="text-danger invalid-feild">
                                        Country is required.
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <label for="inputCity" class="form-label">City:</label>
                                    <input type="text" class="form-control" id="inputCity" [(ngModel)]="formObj.city"
                                        name="city">

                                </div>

                                <div class="col-12">
                                    <label for="inputAddress1" class="form-label">
                                        Address Line 1<sup class="text-danger">*</sup>:
                                    </label>
                                    <input type="text" class="form-control" id="inputAddress1"
                                        [(ngModel)]="formObj.address" name="address" required #addressCtrl="ngModel">
                                    <div *ngIf="addressCtrl.invalid && (addressCtrl.dirty || addressCtrl.touched || userForm.submitted)"
                                        class="text-danger invalid-feild">
                                        Address is required.
                                    </div>
                                </div>
                                <div class="col-12">
                                    <label for="inputAddress2" class="form-label">Address Line 2:</label>
                                    <input type="text" class="form-control" id="inputAddress2"
                                        [(ngModel)]="formObj.address_2" name="address_2">
                                </div>

                                <div class="col-12">
                                    <label for="inputAddress3" class="form-label">Address Line 3:</label>
                                    <input type="text" class="form-control" id="inputAddress3"
                                        [(ngModel)]="formObj.address_3" name="address_3">
                                </div>

                                <div class="col-12">
                                    <label for="remark-test" class="form-label">Remark :</label>
                                    <input type="text" class="form-control" id="remark-test"
                                        [(ngModel)]="formObj.remark" name="remark">
                                </div>

                            </div>
                        </div>
                        <div class="mt-2 text-end">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <form #passwordForm="ngForm" class="p-3" (ngSubmit)="onSubmitPassword(passwordForm)">
                        <div class="row g-3 justify-content-center">
                            <div class="col-6">
                                <div class="row">
                                    <div class="col-md-12 mb-3">
                                        <label for="currentPassword" class="form-label">
                                            Current Password<sup class="text-danger">*</sup>:
                                        </label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="currentPassword"
                                                [(ngModel)]="passwordObj.current_password" name="current_password"
                                                required minlength="6" #currentPasswordCtrl="ngModel">
                                            <span class="input-group-text"
                                                (click)="comman.hideShowPassword('currentPassword','change-current')">
                                                <i class="bi bi-eye" id="change-current"></i>
                                            </span>
                                        </div>
                                        <div *ngIf="currentPasswordCtrl.invalid && (currentPasswordCtrl.dirty || currentPasswordCtrl.touched || passwordForm.submitted)"
                                            class="text-danger">
                                            <div *ngIf="currentPasswordCtrl.errors?.['required']">
                                                Current Password is required.
                                            </div>
                                            <div *ngIf="currentPasswordCtrl.errors?.['minlength']">
                                                Current Password must be at least 6 characters.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label for="newPassword" class="form-label">
                                            New Password<sup class="text-danger">*</sup>:
                                        </label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="newPassword"
                                                [(ngModel)]="passwordObj.new_password" name="new_password" required
                                                minlength="6" #newPasswordCtrl="ngModel">
                                            <span class="input-group-text"
                                                (click)="comman.hideShowPassword('newPassword','change-new')">
                                                <i class="bi bi-eye" id="change-new"></i>
                                            </span>
                                        </div>
                                        <div *ngIf="newPasswordCtrl.invalid && (newPasswordCtrl.dirty || newPasswordCtrl.touched || passwordForm.submitted)"
                                            class="text-danger">
                                            <div *ngIf="newPasswordCtrl.errors?.['required']">
                                                New Password is required.
                                            </div>
                                            <div *ngIf="newPasswordCtrl.errors?.['minlength']">
                                                New Password must be at least 6 characters.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label for="confirmPassword" class="form-label">
                                            Confirm Password<sup class="text-danger">*</sup>:
                                        </label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="confirmPassword"
                                                [(ngModel)]="passwordObj.new_password_confirmation"
                                                name="new_password_confirmation" required minlength="6"
                                                #confirmPasswordCtrl="ngModel">
                                            <span class="input-group-text"
                                                (click)="comman.hideShowPassword('confirmPassword','change-conform')">
                                                <i class="bi bi-eye" id="change-conform"></i>
                                            </span>
                                        </div>
                                        <div *ngIf="confirmPasswordCtrl.invalid && (confirmPasswordCtrl.dirty || confirmPasswordCtrl.touched || passwordForm.submitted)"
                                            class="text-danger">
                                            <div *ngIf="confirmPasswordCtrl.errors?.['required']">
                                                Confirm Password is required.
                                            </div>
                                            <div *ngIf="confirmPasswordCtrl.errors?.['minlength']">
                                                Confirm Password must be at least 6 characters.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-end">
                                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>